<div class="container">
  <div class="row">
    <img class="align-middle" src="https://media.licdn.com/dms/image/C4E0BAQH-hIlc5g9g7w/company-logo_200_200/0?e=2159024400&v=beta&t=j5y9KO1P22GsMx3vBNawrpvyvjD2iyBWGeVPUsRkn5s" width="320" alt="Algoan Logo" />
  </div>
  <div class="row">
    <button type="button" class="btn btn-primary redirect-button" id="bi-redirection"><a href="/redirect">Launch redirect process</a></button>
    <button type="button" class="btn btn-primary redirect-button" id="bi-redirection"><a href="/aden">Get Score result</a></button>
  </div>
  <pre> {{ aden }} </pre>
</div>
