<div class="container">
  <div class="row">
    <div style="margin-left: auto; margin-right:auto;">
      <img class="align-middle" src="https://media.licdn.com/dms/image/C4E0BAQH-hIlc5g9g7w/company-logo_200_200/0?e=2159024400&v=beta&t=j5y9KO1P22GsMx3vBNawrpvyvjD2iyBWGeVPUsRkn5s" width="320" alt="Algoan Logo" />
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-primary redirect-button" id="bi-redirection"><a href="/scores">Launch score</a></button>
  </div>
  <pre class="prettyprint"> {{ analysis }} </pre>
</div>
